/*Globales*/
html{
  font-size: 62.5%; /*Reset REMS - 62.5% = 10px de 16px*/
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}
h1{
  font-size: 3.8rem;
}
h2{
  font-size: 3.4rem;
}
h3{
  font-size: 3rem;
}
h4{
  font-size: 2.6rem;
}

.contenedor{
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

/* Header*/
.site-header-inicio{
  background: url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 6rem;
}
.contenido-header{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenido-header h1{
  color: white;
  padding-bottom: 2rem;
  max-width: 60rem;
  line-height: 6rem;
}

.barra{
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

/*navegacion*/
.navegacion a{
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  margin-right: 2rem;
}
.navegacion a:hover{
  color: #71b100;
}
.navegacion a:last-of-type{
  margin: 0;
}
